.callback {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index: 999;
	background: #0000007d;
}

.popup_bg {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 99999;
    height: 100%;
    width: 100%;
}
.form {
    position: relative;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #ffffff;
    z-index: 999999;
    top: 200px;
    width: 340px;
    height: 320px;
    background: #fffffff0;
    box-shadow: 0 0 0 20px #ffffff26;
}

.cme-cls, .form .cme-cls {
    background: #e31f15;
    position: absolute;
    background: url(/callback/close.png) no-repeat top center;
    top: -43px;
    right: -43px;
    border: none;
    width: 38px;
    height: 38px;
	cursor: pointer;
}

.form input {
    width: 100%;
    padding: 14px;
    margin: 5px 0;
    background: #f4f4f4;
    border: 1px solid #cecece;
    border-radius: 3px;
}
.callback button {
    background: linear-gradient(to right, rgba(52,153,255,1) 0%, rgba(58,57,133,1) 100%);
    padding: 10px 32px;
    border: 1px solid #3a64b5;
    color: white;
    margin: 10px auto;
    display: block;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}
.callback button:hover {
background: #fff;
    transition: 0.5s;
    border: 1px solid #3a64b5;
    color: #3a64b5;
}

.h6 h2 {
    text-align: center;
    margin: 0;
    font-size: 30px;
    padding-bottom: 10px;
}

.h6 h2 b {
    color: #3a64b5;
    font-weight: 600;
}
.h6 span {
    color: #4a4a4a;
    font-size: 14px;
    text-align: center;
    width: 100%;
    display: block;
}

@media (max-width: 375px) { 
	.form {
    zoom: 0.8 !important;
	}
}